<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 id="modalTitle" class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p id="modalDescription" class="mb-2 text-secondary"></p>

        <button type="button" id="readMoreBtn" class="btn btn-link p-0" onclick="toggleDescription()">
          Read more
        </button>
      </div>

      <div class="modal-footer gap-2">
        <button type="button" class="btn btn-primary" onclick="editTask()">Edit</button>
        <button type="button" class="btn btn-danger" onclick="deleteTask()">Delete</button>
      </div>

    </div>
  </div>
</div>
